@media only screen and (max-width: 600px) and (min-width: 0px){

	.topbar{
	  	padding: 15px 0px;
	}

	.grid{
		/*display: none;*/
		margin-right: 0px;
		margin-left: 0px;
	}

  .container{
	width: 100%;
   }
  .hideitem{
  	display: none;
  }

	.intro{
		background-size: 100%;
	}

	.introrow{
		top: 15%;
	}

	.introrow{
		top: 30%;
		position: absolute;
    	left: 50%;
	    transform: translate(-50%, -50%);

	}

	.name{
		font-size: 37px;
		    line-height: 60px;
	}

	.companydet{
		display: block;
		position: relative;
		float: left;
		padding-top: 0px;
	}

	.companyname, .companyyears{
		float: unset;
		font-size: 14px;
	}

	.designation{
		font-size: 21px;
	}

	.scrollmore{
		left: 70%;
	}

	.imageclass{
		width: 293.33px;
		height: 220px;
	}

	.hideimg{
		display: none;
	}

	.footerlarge{
		display: none;
	}

	.footersmall{
		display: block;
	}


.section-content{
	
	width: 85%;
}

.companydetails{
	
	width: 85%;
	font-size: 14px ;
}

.companydesignation{
	
	font-size: 14px ;
}

.section-content{
	
	font-size: 14px;
}

}